*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-thumb{
    background: blue;
    width: 0;
}

.header{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.header .polotno video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100000;
    object-fit: cover;
}

/* ----------------------------------------------------- ШАПКА ---------------------------------------------- */
.header-top{
    width: 100%;
    height: 80px;
    display: flex;;
    justify-content: space-between;
    padding: 5px 50px;
    z-index: 0;
    position: relative;
    transition: all 3s ease;
    margin-bottom: 5px;
}

.lenta.active{
    margin-top: 64px;
}


.header-top:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.header-top .container{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.header-top .logo,
.header-top .slogan{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top .logo img{
    height: 80%;
    width: 100%;
}

.header-top .logo span{
    font-size: 13px;
    color: #52bb44;
    font-family: 'diamond';
    text-transform: uppercase;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header-top .slogan{
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5px;
    z-index: +1;
    cursor: default;
}

.header-top .slogan span,
.header-top .slogan p{
    font-size: 14x;
    color: #52bb44;
    font-family: 'federov';
    text-transform: capitalize;
    font-weight: bold;
}

.header-top .slogan span{
    letter-spacing: +3.7px;
    font-size: 12px;
}

.header-top .slogan .independed{
    letter-spacing: +4.8px;
}

.header-top .slogan p{
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 15px;

}

.header-top .icons{
    width: calc(100% - 450px);
    height: 100%;
    display: flex;
}

.header-top .icons ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%
}

.header-top .icons ul li{
    cursor: pointer;
    display: flex;
}

.header-top .icons ul li i{
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: #52bb44;
    display: flex;
    border: 3px solid #52bb44;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.header-top .icons ul li i a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-top .icons ul li .fa-user-tie{
    padding: 10px 13px;
}

.header-top .icons ul li i:hover{
    background: black;
    transition: all 0.5s ease;
}

.header-top .registration{
    width: 200px;
    height: 100%;
    display: flex;
    z-index: +1;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    position: relative;
}

.header-top .registration a{
    font-size: 22px;
    color: #52bb44;
    font-family: 'federov';
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    transition: all 1s ease;
    font-weight: 400;
    position: relative;
    padding-bottom: 4px;
    overflow: hidden;
}

.header-top .registration a:before{
    position: absolute;
    content: '';
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #52bb44;
    transition: all 1s ease;
}

.header-top .registration a:hover:before{
    left: 0;
    transition: all 0.5s ease;
}
/* -------------------------- МЕНЮ -------------------------- */

.main-menu{
    height: 50px;
    width: 100%;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100000000000000;
    align-items: flex-end;
}

.menu{
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 2s ease;
    position: relative;
}

.menu.active{
    opacity: 0.95;
    background: black;
    transition: all 2s ease;
}

.menu.active > ul li span{
    color: white;
    transition: all 1s ease;
}

.menu.active > ul li::before{
    background: white;
    transition: all 1s ease;
}

.menu:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #64A8D1;
    opacity: 0.2;
    z-index: -1;
    content: '';
}

.menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: sticky;
    top: -1px;
}

.menu ul li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.menu ul li a{
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.menu ul li a span{
    font-size: 20px;
    font-family: 'federov';
    color: pink;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 1s ease;
}

.menu ul li::before{
    transition: all 1s ease;
    background: #3D9AD1;
    /* background: yellow; */
    content: '';
    top: 0;
    left: -100%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.menu ul li:hover::before{
    left: 0;
    transition: all 1s ease;
}

.menu ul li a.active{
    background: #64A8D1;
}


/* ================================ РЕГИСТРАЦИЯ =============================== */
.reg{
    width: 300px;
    height: 400px;
    position: fixed;
    display: flex;
    content: '';
    top: calc(50% - 200px);
    right: calc(50% - 150px);
    transition: all 1s ease;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.reg::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: -1;
    background: #64A8D1;
    position: absolute;
    opacity: 1;
}

.reg:hover{
    box-shadow: 0 2px 10px black;
    transition: all 1.5s ease;
    opacity: 1;
}

.reg.active{
    transition: all 1s ease;
    display: flex;
    opacity: 0;
}

.reg.active2{
    opacity: 0.9;
    transition: all 1.5s ease;
}

.reg i{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease;
}

.reg i:hover{
    color: red;
    transition: all 0.5s ease;
}

.reg h2{
    width: 100%;
    display: flex;  
    align-self: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'federov';
    color: pink;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 1s ease;
    margin-bottom: 40px;
    transition: all 2s ease;
    text-shadow: 1px 2px 5px black;
}

.reg form{
    display: flex;
    align-self: center;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reg form input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #3D9AD1;
    transition: all 1s ease;
    box-shadow: 0.5px 0.5px 2px 1px black;

    font-size: 22px;
    font-family: "federov";
    color: black;
    padding: 0 10px;
    font-weight: 400;
}

.reg form input:hover{
    box-shadow: 2px 2px 10px 2px black;
    transition: all 1s ease;
}

.reg form .connector{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #52bb44;
    box-shadow: 2px 2px 10px 2px black;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 20px;
    font-family: "federov";
    color: black;
    padding: 0 10px;
    font-weight: 700;
}

.reg form .connector.active{
    box-shadow: none;
    transition: all 1s ease;
}

.reg span{
    font-size: 16px;
    font-family: "federov";
    color: black;
    font-weight: 700;
    height: 20px;
    font-weight: 700;
    cursor: default;
}

.reg span.invalid{
    color: red;
}


/* ================================ ВХОД =============================== */

.avt{
    width: 300px;
    height: 300px;
    position: fixed;
    display: flex;
    content: '';
    top: calc(50% - 200px);
    right: calc(50% - 150px);
    transition: all 1s ease;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.avt::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: -1;
    background: #64A8D1;
    position: absolute;
    opacity: 1;
}

.avt:hover{
    box-shadow: 0 2px 10px black;
    transition: all 1.5s ease;
    opacity: 1;
}

.avt.active{
    transition: all 1s ease;
    display: flex;
    opacity: 0;
}

.avt.active2{
    opacity: 0.9;
    transition: all 1.5s ease;
}

.avt i{
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease;
}

.avt i:hover{
    color: red;
    transition: all 0.5s ease;
}

.avt h2{
    width: 100%;
    display: flex;  
    align-self: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'federov';
    color: pink;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 1s ease;
    margin-bottom: 30px;
    transition: all 2s ease;
    text-shadow: 1px 2px 5px black;
}

.avt form{
    display: flex;
    align-self: center;
    width: 100%;
    height: 280px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.avt form input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #3D9AD1;
    transition: all 1s ease;
    box-shadow: 0.5px 0.5px 2px 1px black;

    font-size: 22px;
    font-family: "federov";
    color: black;
    padding: 0 10px;
    font-weight: 400;
    margin-bottom: 10px;
}

.avt form input:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}

.avt form input:hover{
    box-shadow: 2px 2px 10px 2px black;
    transition: all 1s ease;
}

.avt form .errrr{
    font-size: 18px;
    font-family: "federov";
    color: red;
}

.avt form .connector{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #52bb44;
    box-shadow: 2px 2px 10px 2px black;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 20px;
    font-family: "federov";
    color: black;
    padding: 0 10px;
    font-weight: 700;
}

.avt form .connector.active{
    box-shadow: none;
    transition: all 1s ease;
}

.avt span{
    font-size: 16px;
    font-family: "federov";
    color: black;
    font-weight: 700;
    text-shadow: 1px 2px 5px white;
    margin-bottom: 10px;
    height: 20px;
    cursor: default;
}

.reg span{
    text-shadow: 1px 2px 5px white;
}

.avt span.invalid{
    color: red;
}

.hello{
    width: 200px;
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: "federov";
    color: #52bb44;
    align-self: center;
    align-items: center;
    cursor: default;
}

.out{
    width: 50px;
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: "federov";
    color: red;
    align-self: center;
    align-items: center;
    transition: all 1s ease;
}

.out:hover{
    text-shadow: 0 0 10px white;
    transition: all 1s ease;
}

@media (max-width: 1000px) {
    .header-top .icons ul li{
        margin-right: 10px;
    }
}

@media (max-width: 800px) {
    .menu{
        padding: 0 10px;
    }
    .header-top .icons{
        display: none;
    }
}

@media (max-width: 700px) {
    .menu ul li a span{
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .menu ul{
        padding: 0 0px;
    }
}

@media (max-width: 600px) {
    .header-top{
        padding: 5px 15px;
    }
}

@media (max-width: 500px) {
    .header-top .container{
        justify-content: flex-start;
    }
    .header-top{
        padding: 5px 5px;
    }
    .header-top .slogan{
        margin-left: 5px;
    }
    .header-top .registration{
        flex-direction: column;
        margin-top: 5px;
    }
    .menu ul li a span{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .container .logo{
        display: none;
    }
}